<%= render 'menu' %>

<div class="logo">
  <div class="bars">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="text">
    <p class="soundbyte">Soundbyte</p>
    <p class="studios">Studios</p>
  </div>
</div>
